.intro img{
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.items, .filters {
  margin-top: 30px;
}

.filters {
  margin-left: 30%; 
}

.ui.checkbox  {
  display: block;
  margin: 20px auto;
}

.image:not(.tiny):hover, div.name:hover {
  cursor: pointer;
}

.ui.celled.table.table-header {
  text-align: center;
}
.cart-item, .header-item {
  display: flex;
  width: 60%;
}

.cart-quant, .header-quant, .cart-sum, .header-sum  {
  width: 20%;
}

.ui.cards {
  justify-content: center;
}

.cart-item h3, .cart-quant i{
 margin: auto
}

.cart-quant .icon:hover {
  cursor: pointer;
}

.ui.table td.cart-total {
  text-align: center;
}

.modal .header {
  text-align: center;
}

.cart-mini {
  position: absolute;
  left: 42px;
  top: 5px;;
}

.mini-cart.disable, .sign-in.disable, .ui.search.disable, .ui.grid.disable, .buy-button.disable, .table.table-header.disable, a.item.header-but.disable {
  display: none !important;
}

.search {
 margin: 30px;
 text-align: center;
}

.search >.input > .prompt {
  width: 400px;
  border: 2px solid rgba(34,36,38,.15);
  margin: 20px auto;
}

.ui.fluid.search {
  width: 400px;
  margin: 20px auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.ui.modal .actions>.button {
  margin-left: 0;
}
.cart-header {
  font-size: 20px;
}
.empty-cart {
  text-align: center;
}
span {
  font-size: 18px;
}